venv/
temp/
.env
node_modules/
__pycache__/
*.pyc

# Ignore audio files and lyrics data
downloads/
lyrics/
audio/

#ignore audio files
*.mp3
*.wav
*.WAV


# Ignore cache
temp/cache/

# Ignore frontend build files
frontend/frontend/node_modules/
frontend/frontend/dist/
frontend/frontend/.next/
frontend/frontend/out/